---
layout: layouts/base.njk
---
<div class="stack prose">
    <h1 class="mb-xl">{{ title }}</h1>
    {{ content | safe }}
</div>
{% if tags == "blog" %}
    {% include "partials/_pagination.html" %}
    {% endif %}
