---
layout: layouts/base.njk
permalink: /bikes/
title: Bikes
metaDesc: Check out custom steel gravel bikes and hardtails and the all new stock Whippet gravel bike.
type: website
---
<h1>Bikes</h1>
<div>
  {% for post in collections.bikes | sort('data.title') | reverse %}
  {% include "partials/_bikeCard.html" %}
  {% endfor %}
</div>