<dl class="mt-base">
    <dt>Handlebar</dt>
    <dd>FSA NS AGX alloy</dd>
    <dt>Handlebar tape</dt>
    <dd>MSW anti-slip gel</dd>
    <dt>Stem</dt>
    <dd>FSA V-Drive</dd>
    <dt>Headset</dt>
    <dd>Wolf Tooth Performance</dd>
    <dt>Spacers</dt>
    <dd>Problem Solvers alloy</dd>
    <dt>Seatpost</dt>
    <dd>FSA V-Drive</dd>
    <dt>Saddle</dt>
    <dd>Not included</dd>
    <dt>Pedals</dt>
    <dd>Not included</dd>
    <dt>Brake/shift levers</dt>
    <dd>Shimano GRX RX820</dd>
    <dt>Front rotor</dt>
    <dd>Shimano GRX 180 or 160</dd>
    <dt>Rear rotor</dt>
    <dd>Shimano GRX 160 or 140</dd>
    <dt>Rear derailler</dt>
    <dd>Shimano GRX RX820</dd>
    <dt>Chain</dt>
    <dd>Shimano XT 12s</dd>
    <dt>Cassette</dt>
    <dd>Shimano XT 10-51t 12s</dd>
    <dt>Crank</dt>
    <dd>Shimano GRX RX810</dd>
    <dt>Chainring</dt>
    <dd>Shimano GRX 42t or 40t</dd>
    <dt>Bottom bracket</dt>
    <dd>Shimano BSA</dd>
    <dt>Wheelset</dt>
    <dd>Astral Outback Approach alloy</dd>
    <dt>Tires</dt>
    <dd>Rene Herse 55mm knobbies (recommended) or customer's choice</dd>
</dl>
<p class="mt-base"><small>*Pricing and parts list subject to change due to availability. But don't worry, we'll make your new Whippet awesome.</small></p>